a {
  cursor: pointer;
}

.nav-bar {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #111111;
}

.div-navbar {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  width: 70px;
}

.hamburger-menu-navbar {
  display: none;
  cursor: pointer;
  font-size: 30px;
  margin: 10px;
  padding: 5px;
  color: #daa520;
  border: none;
  background: none;
}

.links-container ul {
  list-style: none;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  /*  gap: 50px; */
  padding: 10px;
}

.links-container a {
  color: #f5f5f5;
  font-size: 18px;
  text-decoration: none;
  margin: 0 25px;
}

.links-container a:hover {
  color: #daa520;
  text-decoration: underline;
}

.about-sub-container {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background-color: #111111;
  padding: 0px;
  margin: 30px 0 0 30px;
  border-radius: 5px;
  width: max-content;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.about-sub-container.activenavbar {
  display: block;
}

.about-sub-ul {
  display: flex;
  flex-direction: column;
  margin: 10px 50px;
}

.about-sub-li {
  list-style: none;
  text-decoration: none;
  margin: 10px 0;
}

/* RESPOSIBLE SETTINGS FOR DIFFERENCE DEVICES */

@media (max-width: 1024px) {
  .div-navbar {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    position: fixed;
    top: 0;
    left: 0;
  }

  .div-navbar {
    width: 80%;
    text-align: center;
    justify-content: space-between;
  }

  .hamburger-menu-navbar {
    display: block;
  }

  .links-container {
    position: fixed;
    display: flex;
    margin-top: 94px; /* Adjust this for your header height or space */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s ease;
    width: 250px; /* Sidebar width */
    height: 100vh;
    top: 0;
    right: -100%; /* Initially hidden off-screen */
    z-index: 999; /* Set a high z-index to make sure it's on top */
    background-color: #111111;
    padding-top: 20px; /* Space between the top and first link */
  }

  .links-container li {
    margin-top: 30px;
  }

  /* Link Styles */
  .links-container a {
    font-size: 30px;
    color: white; /* Link color */
    padding: 15px 25px;
    text-decoration: none; /* Remove underline */
    border: 1px solid transparent; /* Remove red border */
    margin-bottom: 10px; /* Space between links */
    transition: 0.3s; /* Smooth transition for hover effect */
  }

  .links-container.active {
    right: 0px;
  }

  .about-sub-container {
    display: none;
    position: static;
    margin: 5px auto;
    box-shadow: none;
  }

  .about-sub-ul {
    all: unset;
  }

  .about-sub-li {
    all: unset;
    margin: 10px auto;
  }

  .about-sub-li a {
    font-size: 14px;
  }
}
