/* /////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////// */

/* .hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.show {
  opacity: 1;
  transform: translateY(0);
}
 */

.video-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 93px);
  /*  height: 100vh; */
  overflow: hidden;
  background-color: #000000;
}

.video-container .slide-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(2px);
}

.slider-container {
  position: absolute;
  height: auto;
  width: 90%;
  max-width: 700px;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.slider {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.title-slide-left,
.p-slide-left,
.btn-slide-left {
  text-align: left;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.center {
  text-align: center;
}

.title-slide-center,
.p-slide-center,
.btn-slide-center {
  text-align: center;
  transition: opacity 2s ease-in-out;
  opacity: 0;
}

.slider-active {
  height: 100%;
  display: block;

  color: #f5f5f5;
  position: relative;
}

.slider-active p {
  font-size: 1rem;
  color: #f5f5f5;
  text-shadow: 2px 2px 5px black;
}

.title-container {
  width: 100%;
}

.title-container h1 {
  font-size: 4.6rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px black;
}

.btn-slide {
  margin: 20px 0 0 10px;
}

.dots-container {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 40px;
}

.dot {
  background-color: #f5f5f5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.active-dot {
  background-color: #daa520;
  width: 15px;
  height: 15px;
  text-align: center;
}

/* //////////////////////////// */

.main-hero-container {
  width: 100%;
  height: 70vh;
  background-color: #f1fbff;
}

.hero-container {
  width: 75%;
  margin: 0 auto;
  padding: 150px 0;
}

.hero-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 50px;
}

.hero-title-container {
  width: 100%;
  max-width: 100%;
}

.hero-title-par {
  font-size: 16px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.hero-title {
  font-size: 80px;
}

.hero-paragraph {
  margin-top: 45px;
  color: rgb(94, 94, 94);
}

/* ////////////////// */
.offers-container-main {
  width: 100%;
  min-height: fit-content;
  overflow: hidden;
}

.offers-container {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: none;
}

.offers {
  position: relative;
  width: 100%;
  height: auto; /* Ensures proper content scaling */
}

.offers-img-wraper {
  width: 100%;
  height: fit-content; /* Set a fixed height */
  overflow: hidden; /* Prevents images from overflowing */
  display: flex;
  align-items: center;
  justify-content: center;
}

.offers-img-wraper img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}

.offers-title-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 5px black;
  padding: 10px 20px;
  border-radius: 5px;
}

.offers-title-container h2 {
  transition: transform 0.4s ease;
}

.offers-a:hover .offers-img-wraper img,
.offers-a:hover .offers-title-container h2 {
  transform: scale(1.1);
}

.about-us-container {
  width: 100%;
  height: 600px;
  background: url("../img/nicholas-fyffe.jpg") no-repeat center;
  background-size: cover; /* Adjust the size */
  background-position: center 40%; /* Move the background down */
}

.about-us-title-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-us-title {
  width: 43%;
  text-align: center;
  color: #f5f5f5;
  font-size: 50px;
  text-shadow: 2px 2px 5px black;
  transform: translateY(-50px);
}

.about-us-btn {
  padding: 20px 50px;
}

.main-aproach-container {
  width: 100%;
  min-height: 100vh;
  background-color: #f0f4ff;
}

.aproach-container {
  width: 75%;
  min-height: 100vh;

  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 100px;
}

.aproach {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.img-aproach-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 52%;
  height: 70vh;
  overflow: hidden;
  margin: 0 15px;
}
.aproach-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aproach-title-container {
  width: 48%;
}

.aproach-title-par,
.aproach-title,
.aproach-par {
  padding-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.aproach-title-par {
  font-size: 17px;
  text-transform: uppercase;
}

.aproach-title {
  font-size: 50px;
  padding-bottom: 30px;
}

.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 500px;
  background-color: #f0f4ff;
}

.gallery-title-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.instagram-widget-gallery {
  background-color: #daa520;
  color: #f0f4ff;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
  border-radius: 50%;
}

.instagram-widget-gallery:hover {
  background-color: #b8860b;
}

.gallery-img-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  background-color: #000000;
}

.gallery-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.gallery-photo:hover {
  opacity: 0.9;
}

/* ///////////////////////////////// */
/* /////////////////////////////////// */

/* MEDIA QUERIES FOR DEVICES */

@media (max-width: 1440px) {
  .offers-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .hero-title {
    font-size: 45px;
  }

  .gallery-img-wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(220px, 1fr)
    ); /* Adjust the column size */
  }

  .instagram-widget-gallery {
    font-size: 20px;
    padding: 30px;
  }
}

/* ✅ Tablets (768px - 1024px) */
@media (max-width: 1024px) {
  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-title {
    font-size: 40px;
  }
  .offers-container {
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  }

  .aproach {
    flex-direction: column;
    text-align: center;
  }

  .aproach-reverse {
    flex-direction: column-reverse;
  }

  .aproach-title-par,
  .aproach-title,
  .aproach-par {
    max-width: none;
  }

  .img-aproach-wrapper {
    width: 100%;
    height: auto;
  }

  .aproach-title-container {
    width: 100%;
    margin: 20px auto;
  }

  .gallery-img-wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Smaller grid items */
  }

  .instagram-widget-gallery {
    font-size: 18px;
    padding: 28px;
  }
}

/* ✅ Mobile Devices (max-width: 768px) */
@media (max-width: 768px) {
  .title-container h1 {
    font-size: 2.5rem;
  }

  .offers-container {
    display: flex;
  }

  .hero-container {
    width: 80%;
  }

  .hero-title {
    font-size: 32px;
  }

  .offers-container {
    flex-direction: column;
  }

  .about-us-title {
    width: 90%;
    font-size: 30px;
  }

  .aproach-container {
    width: 90%;
    padding: 50px 0;
  }

  .aproach-title {
    font-size: 30px;
  }

  .gallery-img-wrapper {
    grid-template-columns: repeat(
      auto-fill,
      minmax(120px, 1fr)
    ); /* Even smaller grid items */
  }

  .instagram-widget-gallery {
    font-size: 15px;
    padding: 25px;
  }
}
