main {
  width: 100%;
  min-height: 100vh;
}

.main-horses-container {
  max-width: 75%;
  margin: 0 auto;
  background-color: #fff;
  padding: 100px 20px;
  border-radius: 10px;
}

.horses-container {
  text-align: center;
  margin-bottom: 20px;
}

.horses-container h1 {
  font-size: 2.5rem;
  color: #2d2d2d;
}

.horses-container p {
  font-size: 1.2rem;
  color: #666;
}

.title-span {
  font-weight: bold;
  color: black;
}

.status {
  margin-top: 20px;
  font-size: 1rem;
}

.status-badge {
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.for-sale {
  background-color: #e74c3c; /* Red for sale */
  color: #fff;
}

.for-rent {
  background-color: #f39c12; /* Yellow for rent */
  color: #fff;
}

.own-stable {
  background-color: #2ecc71; /* Green for our stable */
  color: #fff;
}

.horse-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.filter {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter label {
  margin-right: 10px;
  font-size: 1.1rem;
}

.filter select {
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.horse-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.horse-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.horse-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.horse-card h2 {
  font-size: 1.8rem;
  color: #2d2d2d;
  margin-bottom: 10px;
}

.horse-card p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 5px;
}

.horse-card p strong {
  color: #2d2d2d;
}
